@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>The University Of Anime</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to The University Of Anime</h2>
        <p>
            The University Of Anime is where you will learn everything that
            you need to know about creating, illustrating, and animating your own actual Anime shows or short clips.
        </p>
        <p>So get ready!</p>
    </div>
   
</div>